.calaboca{
    text-align: center;
}
body{
    background-image: url('calm.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
}
#inputbox{
    border-radius: 7px;
    width: 90%;
    margin-top: 10px;
}
#apagar{
    margin-left: 20px;
    height: 80px;
    width: 80px;
    margin-top: 20px;
}

.history{
    padding-top: 10px;
    overflow: auto;
}
.colunacentro{
    width: 50%; height: 100vh; background-color: rgba(0,0,0,0.69); margin-left: 25%;
}
.userfala{
    color: black;
    border-radius: 4px;
    padding: 20px;
    background-color: white;
    margin-right: 20px;
    text-align: end;
    margin-top: 10px;
    margin-left: 10%;
}
.botfala{
    color: white;
    padding: 20px;
    border-radius: 4px;
    background-color: #0a0a0a;
    margin-left: 20px;
    margin-right: 10%;
    margin-top: 10px;
}
.options{
    margin-top: 10px;
    text-align: center;
}
@media (max-width:500px){
    .colunacentro{
        width: 100%;
        margin-left: 0;
    }
    .hideonphone{
        font-size: 0px;
        visibility: hidden;
    }
}